{% block head %}
<html>
<head>
<title>{%block title%}{%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/hello-world/asset/css/custom.css">

</head>
<body>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto">
          <div class="inner">
            <img src ="/hello-world/asset/logo.png" class="img-fluid"/>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/hello-world/index.php/home">Home</a>
              <a class="nav-link" href="/hello-world/index.php/settings">Settings</a>
            </nav>
          </div>
        </header>
{% endblock head %}
{% block content %}{% endblock content %}
{% block footer %}

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Boliperplate for <a href="http://gsleekshop.io">Sleekshop</a>.</p>
          </div>
        </footer>
    </div>
</body>
</html>
{% endblock footer %}
