<html>
<head>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/hello-world/asset/css/custom.css">

</head>
<body>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Logo</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/hello-world/index.php/home">Home</a>
              <a class="nav-link active" href="/hello-world/index.php/settings">Settings</a>
            </nav>
          </div>
        </header>

        <main role="main" class="inner cover">
          <h1 class="cover-heading">{{data}}</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
        </main>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Boliperplate for <a href="http://gsleekshop.io">Sleekshop</a>.</p>
          </div>
        </footer>
    </div>
</body>
</html>
